.alldiv{
    height: 400px;
    // width: 1152px;
    flex-wrap: wrap;
    // text-align: center;
    // background-color: aqua;
    
}

.itemBox{
    margin-left: 20px;
    // border: 1px solid #999999 ;
    height: 130px;
    // width: 340px;
    // 하 이거 핑크 박스 안에 데이터 자꾸 삐뚤해져서 주석처리 해놨음
    // justify-content: center;
    align-items: center;
    // background-color: pink;
}


.rank_brand_name{
    font-size: 14px;
    color: #999999;
    // display: inline-block;
    
}

.rank_cos_name{
    color: #111111;
    font-size: 14px;
    // display: inline-block;
}

.rank_cos_price{
    font-size: 15px;
    color: #666666;
    margin-right: 2px;
    // font-weight: bold;
}
.rank_cos_grade{
    color: #666666;
    font-size: 13px;
}

.rank_cos_grade_cnt{
    color: #999999;
    font-size: 12px;

}

.rank_text{
    font-size: 12px;
    color: #666666;
}


.rank_vol{
    color: #999999;
    font-size: 12px;
}

.rank_grade{
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: left;
}

.rank_price{
    text-align: left;
}

.rank_img{
    margin: 10px;
}

.rank_num{
    font-weight: bold;
}

