@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: 'TheJamsil5Bold';
}


.img {
    display:flex;
    justify-content: center;
    margin: auto;
}

.itemname {
    text-align: center;
    font-size: 18px;
    padding: 25px;
}

.iteminfo {
    display:flex;
    justify-content: center;
    margin: auto;
}

.brand {
    margin:auto;
}

