.btn-1 {
    background: linear-gradient(0deg, rgb(130,170,73) 0%, rgb(130,170,73) 100%);
    border: none;
    width : 200px;

    border-radius: 0 10px 10px 0;

  }
  .btn-1:hover {
    
    background: rgba(130,170,73,0.8);
  }
  
.search_box{
    padding: 17px 60px;
    border : 2px solid rgb(130,170,73); 
    
    border-radius: 10px 0 0 10px;
}

.margin_a{
    display: flex;
    justify-content: center;
}