@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.itemname {
    text-align: center;
    font-size: 25px;
    font-family: 'Pretendard-Regular';
    height: 95px;
}
.brandimg {
    border: 1px;
}

.starinfo{
    display: flex;
    margin-top: 25px
}

.brand {
    font-family: 'Pretendard-Regular';
}

.iteminfo {
    font-family: 'Pretendard-Regular';
}

#brandname {
    display: flex;
    transform: translate(42px, -28px);
}

.nameinfo {
    display: flex;
    font-size: 25px;
}

.priceinfo {
    display: flex;
    margin-top: 30px;
}

.price {
    display: flex;
    margin-right: 40px;
}

.rankinginfo {
    display: flex;
    margin-top: 30px;
}

.ranking {
    display: flex;
    margin-right: 40px;
}