@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



.imgmain1{
    display: flex;
    margin: auto;
    justify-content: center;
}

.w-full {
    width: 100%;
}


 .itemname {
    position: fixed;
    height: 38px;
    background: white;
     text-align: center;
     width: 32.9vw;
     border-bottom: 1px solid rgb(255, 255, 255);
     top:0px;
     z-index: 10;
 }

 // 메인 부분

.goback {
    width: 60px;
    display: block;
    height: 40px;
    border: 0;
    background-color: transparent;
    transform: translate(-10px, 4px);
    cursor: pointer;
}



.itemname label {
    font-size: 20px;
    font-weight: 700;
    font-family: "Pretendard-Regular";
    display: flex;
    margin: auto;
    justify-content: center;
    transform: translate(0px, -30px);
}



.starinfo{
    display: flex;
    margin-top: 25px
}

.starinfotext {
    display: flex;
    line-height: 14px;
    margin-top: 3px
}

.brand {
    font-family: 'Pretendard-Regular';
    margin-left: 10px;
}

.iteminfo {
    font-family: 'Pretendard-Regular';
    margin-left: 10px;
}

#brandname {
    margin-left: 14px;
}

.nameinfo {
    display: flex;
    font-size: 25px;
    font-weight: 700;
}

.priceinfo {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.price {
    display: flex;
    margin-right: 40px;
    font-weight: 700;
}

.pricetext{
    margin-left: 25px;
}

.rankingtext{
    margin-left: 25px;
}

.rankinginfo {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.ranking {
    display: flex;
    margin-right: 40px;
    font-weight: 700;
}


#main1{
    /* float: left; */
    height: 266vh;
    background-color: rgb(255, 255, 255);
}


// AI가 분석하는 리뷰

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.justify-between {
    justify-content: space-between;
}

.my-24 {
    margin-bottom: 24px;
    margin-top: 24px;
}

.flex-grow, .grow {
    flex-grow: 1;
}
.w-1\/2 {
    width: 50%;
}
.mr-24 {
    margin-right: 24px;
}

.smile {
    display: flex;
    position: absolute;
}

.liketext{
    margin: auto;
}

.reviewdata {
    margin-left: 236px;
}

.reviewdata1 {
    margin-left: 209px;
}

.reviewdata2 {
    margin-left: 218px;
}

.reviewdata3 {
    margin-left: 195px;
}

.reviewdata4 {
    margin-left: 254px;
}

.reviewdata5 {
    margin-left: 226px;
}

.reviewdata6 {
    margin-left: 208px;
}

.reviewdata7 {
    margin-left: 176px;
}

.reviewdata8 {
    margin-left: 253px;
}

.like {
    margin: auto;
    margin-left: 28px;
    font-size: 19px;
}

.dontlike{
    margin: auto;
    margin-left: 26px;
    font-size: 19px;
}

.bar {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
    height: 10px;
    border-width: 0;
    transform: translate(0px, 21px);
}

.bar2 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
    height: 10px;
    border-width: 0;
    transform: translate(0px, -200px);
}

.bar3 {
    --tw-bg-opacity: 1;
    background-color: rgb(242, 242, 242, var(--tw-bg-opacity));
    height: 6px;
    border-width: 0px;
}

.margintop1 {
    margin: auto;
    margin-top: 16px;
    display: flex;
    font-size: 16px;
    font-weight: 500
}


.likereview{
    display:table-cell;
}

.dislike {
    display:table-cell;
    vertical-align: middle;
}

.aireview {
    margin-top: 40px;
    display: flex;
    font-family: "Pretendard-Regular";
    font-size: 26px;
    margin-bottom: 23px;
    margin-left: 9px;
}

.ai{
    font-weight: 700;
}

.reviewinfo {
    display:flex;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 23px;
}

.margintop2 {
    margin: auto;
    margin-top: 16px;
    display: flex;
    font-size: 16px;
    font-weight: 500
}

.detailreview {
    margin: auto;
    display: flex;
    font-family: "Pretendard-Regular";
    font-size: 24px;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 9px;
    margin-left: 9px;
}

// 리뷰 평점


.graphbarmain {
        display: ruby;
        width: 44vw;
}


.reviewratemain {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    width: 29vw;
    text-align: center;
}

.reviewcount{
    margin: auto;
    margin-left: 26px;
    font-size: 18px;
}

.reviewrate {
    margin: auto;
    font-size: 25px;
    font-weight: 600;
}

.reviewtext {
    font-family: "Pretendard-Regular";
    font-size: 25px;
    font-weight: 600;
}


input[type="radio"] {
    display: none;
}

.starrate{
    cursor: pointer;
    transition: color 200ms;
}



.graphbartext {
    font-size: 16px;
}

.graphbar {
    margin-top: 4px;
    height: 50px;
    width: 4px;
    border-radius: 99999px;
    background-color: #cdc2c2;
}

// 계정 정보 및 리뷰 
.accountmain {
    font-family: "Pretendard-Regular";
    margin-top: 40px;
}

.accountinfo{
    margin: auto;;
    margin-left: 10px;
}


.object-center {
    object-position: center;
}
.object-cover {
    object-fit: cover;
}
.rounded-full {
    border-radius: 99999px;
}
.w-40 {
    width: 40px;
}
.h-40 {
    height: 40px;
}
img {
    vertical-align: top;
}
img, video {
    height: auto;
    max-width: 100%;
}

.nickname{
    font-size: 19px;
}

.hds-text-subtitle-medium {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    margin-left: 9px;
}

.skintype{
    color: gray;
}

.ml-2 {
    margin-left: 2px;
}
.hds-text-smalltext-large {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.accountstar {
    display: flex;
    position: relative;
    place-self: flex-end;
    margin-left: -190px;
}

.textonly{
    margin-top: -10px;
}

.relative {
    position: relative;
}

.accountdate{
    margin-bottom: -27px;
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(232, 232, 232, var(--tw-bg-opacity));
}
.w-\[1px\] {
    width: 1px;
    margin-right: 119px;
}

.text-gray-quaternary {
    color: #aaa;
}
.ml-8 {
    margin-left: 8px;
}


.goodcommentmain{
    margin-top: 20px;
    margin-left: 10px;
}


.goodcomment {
    margin-left: 10px;
    line-height: 32px;
}

.sosocommentmain {
    margin-top: 10px;
    margin-left: 11px;
}

.sosocomment {
    margin-left: 12px;
    line-height: 31px;
    margin-top: -3px;
}


.ingredientmain{
    font-family: "Pretendard-Regular";
    margin-top: 70px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 23px;
}

.ingredientdropbox {
    min-width: 150px;
    box-shadow: 0 4px 5px 0 #00000026;
    position: relative;
}

#dropdown {
    left: 0;
    visibility: hidden;
    position: absolute;
}

.dropdownLabel {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
    box-sizing: content-box;
}

.contentcategory {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 5px 0 #00000026;
}

#dropdown:checked + label + div {
    display: block;
    border-top: 1px solid #00000026;
}

.caretIcon {
    transition: transform 250ms ease-out;
}

#dropdown:checked + label > .caretIcon {
    transform: rotate(-180deg);
}

.content ul {
    list-style-type: none;
    padding: 12px;
    margin: 0;

}

.content ul li {
    margin: 0.8rem 0;
}


.ingredientcomposition {
    font-family: "Pretendard-Regular";
    margin-top: 90px;
    font-size: 24px;
    font-weight: 600;
}


// 성분 구성 위험 단계 부분 (공통 css)

.justify-between {
    justify-content: space-evenly;
}

.mt-16 {
    margin-top: 16px;
}

.gap-x-4 {
    column-gap: 4px;
}

.gap-x-8 {
    column-gap: 8px;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.rounded-full {
    border-radius: 99999px;
}

.w-\[10px\] {
    width: 10px;
}

.h-\[10px\] {
    height: 10px;
}

.hds-text-smalltext-large {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.text-gray-tertiary {
    color: #999;
}

// 청록색 부분
.bg-mint-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(25, 215, 210, var(--tw-bg-opacity));
}

.text-mint-600 {
    --tw-text-opacity: 1;
    color: rgba(25, 215, 210, var(--tw-text-opacity));
}

// 노란색 부분

.bg-yellow-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 190, 20, var(--tw-bg-opacity));
}

.text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgba(255, 190, 20, var(--tw-text-opacity));
}

// 빨간색 부분

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 85, 85, var(--tw-bg-opacity));
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgba(255, 85, 85, var(--tw-text-opacity));
}

// 등급 미정 부분

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(170, 170, 170, var(--tw-bg-opacity));
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(170, 170, 170, var(--tw-text-opacity));
}

// 성분 구성 막대

.rounded-4 {
    border-radius: 12px
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.h-12 {
    height: 0px;
}

.mt-16 {
    margin-top: 16px;
}

// 전체 성분 

.allingredient{
    font-family: 'Pretendard-Regular';
    font-size: 23px;
    font-weight: 600;
    margin-top: 80px;
}

.caution {
    margin-top: 48px;
}

.allergy {
    margin-top: 20px;
}

.cautiontext {
    font-size: 18px;
    font-weight: 600;
}

.text-gray-secondary {
    color: #666;
}

.ingredientbetween{
    margin-left: 433px;
}

.ingredientbetween1{
    margin-left: 418px;
}

.allergytext {
    font-size: 18px;
    font-weight: 600;
}