@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .itemname {
    position: fixed;
    height: 38px;
    background: white;
    text-align: center;
    width: 31.6%;
    border-bottom: 1px solid silver;
    top:0px;
    z-index: 10;
}

.itemname label {
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    transform: translateY(-50%);
    font-family: "Pretendard-Regular";
}

.brandimg {
    border: 1px;
}

.starinfo{
    display: flex;
    margin-top: 25px
}

.brand {
    font-family: 'Pretendard-Regular';
}

.iteminfo {
    font-family: 'Pretendard-Regular';
}

#brandname {
    display: flex;
    transform: translate(38px, -25px);
}

.nameinfo {
    display: flex;
    font-size: 25px;
    font-weight: 700;
}

.priceinfo {
    display: flex;
    margin-top: 30px;
}

.price {
    display: flex;
    margin-right: 40px;
    font-weight: 700;
}

.rankinginfo {
    display: flex;
    margin-top: 30px;
}

.ranking {
    display: flex;
    margin-right: 40px;
    font-weight: 700;
}

.reviewinfo {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 23px;
    transform: translate(0px, 85px);
}

#main1{
    /* float: left; */
    height: 266vh;
    background-color: greenyellow;
}

.smile{
    margin: auto;
    transform: translate(0px, 27px);
}

.like {
    margin: auto;
    display: flex;
    transform: translate(52px, -13px);
    font-size: 21px;
}

.bar {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
    height: 10px;
    border-width: 0;
    transform: translate(0px, 21px);
}

.bar2 {
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
    height: 10px;
    border-width: 0;
    transform: translate(0px, -200px);
}

.margintop1 {
    margin: auto;
    margin-top: 8px;
    margin-bottom: -24px;
    display: flex;
    font-size: 16px;
    font-weight: 500
}

.dislike {
    margin: auto;
    transform: translate(346px, -253px);
}

.margintop2 {
    margin: auto;
    margin-top: 8px;
    margin-bottom: -24px;
    display: flex;
    font-size: 16px;
    font-weight: 500
}

.review {
    margin: auto;
    transform: translate(0px, -146px);
    display: flex;
}

.reviewcount{
    margin: auto;
    margin-left: 26px;
    font-size: 18px;
}
.reviewrate {
    margin: auto;
    transform: translate(108px, -105px);
}

.reviewratestar {
    margin: auto;
    display: flex;
    transform: translate(71px, -96px);
}

.reviewratecount {
    margin: auto;
}


input[type="radio"] {
    display: none;
}

.starrate{
    cursor: pointer;
    transition: color 200ms;
}

.graphbarmain {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    transform: translate(-110px, -174px);
}

.graphbartext {
    transform: translate(-14px, 58px);
    font-size: 16px;
}

.graphbar {
    margin-top: 4px;
    height: 50px;
    width: 4px;
    border-radius: 99999px;
    background-color: #f7f7f7;
}

.accountinfo{
    display: flex;
    transform: translate(70px, -167px);
}

.accountimg{
    display: flex;
    transform: translate(10px, -119px);
}

.nickname{
    display: flex;
    font-size: 19px;
}

.skintype{
    display: flex;
    font-size: 15px;
    line-height: 29px;
    color: gray;
}

.accountstar{
    display: flex;
    transform: translate(67px, -171px);
}